body{
    margin:0;
    padding-top: 800px;
    font-family: 'Ephesis', cursive; 
}
.profile{
    width:100%;
    padding-bottom:50px;
}
#welcome{
    position:absolute;
    height:800px;
    color:darkseagreen;
    left:0;
    right:0;
    bottom:0;
    top:0;
    opacity:0.83;
    background: linear-gradient(#b6d6db 0%,#fac5d9 100%);
    display: table;
    width:100%;
    height:100%;
    z-index:9;
    font-weight:850;
    
}
.innerdiv{
    display: table-cell;
    position: relative;
    text-align:center;
    vertical-align: middle 
}
#name{
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    font-family:'Fleur De Leah', cursive;
}
#intro{
   font-size: 45px;
    line-height: 1.2;
    font-weight: 300;
    font-family: 'Ephesis', cursive;
}
#bio{
    padding:50px;
    text-align:center;
        background: linear-gradient(#fac5d9 0%,#b6d6db 100%);
padding-top:250px;
    
}
p{
    max-width:650;
    margin:25px auto;
    font-size: 20px;
    line-height:1.3;
    font-family:'Montserrat', sans-serif;
    color:slategray;
}
.menu{
    list-style: none;
    font-family:cursive;
    position: absolute;
    top:10px;
    right:30px;
    cursor: pointer;
    z-index: 10;
}
.menuitems{
    float: left;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Ephesis', cursive;
    font-size: 35px;
    font-weight:1000;
}